# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Logs
logs/
*.log

config/settings.py

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

trade_history/completed_trade_history.csv